<h1 class="titles">balcón</h1>
<div class="images">
<%= image_tag("maps/balcony.png", {:style => "width:120px;"}) %>
</div>
<div class="divission">
<%= link_to(image_tag("doors/5.gif",:size => "15x30"), casa_garden_path) %>
<%= link_to 'puerta 5', casa_garden_path %>
</div>

