<h1 class="titles">jardín</h1>
<div class="images">
<%= image_tag("maps/garden.png", {:style => "width:120px;"}) %>
</div>

<div class="divission">
<%= link_to(image_tag("doors/5.gif",:size => "15x30"), casa_balcony_path) %>
<%= link_to 'puerta 4', casa_corridor_path %>
<%= link_to(image_tag("doors/4.gif",:size => "15x30"), casa_bathroom_path) %>
</div>
