<h1>jardin</h1>
<%= link_to(image_tag("doors/5.gif",:size => "15x30"), casa_balcony_path) %>
<%= link_to 'puerta 4', casa_corridor_path %>
<%= link_to(image_tag("doors/4.gif",:size => "15x30"), casa_bathroom_path) %>

