<h1 class="titles"><%= t('cuarto del conserje') %></h1>
<div class="images">
<%= image_tag("maps/jn.png", {:style => "width:120px;"}) %>
</div>
<div class="divission">
<%= link_to(image_tag("doors/janitorcorridor.gif",:size => "25x40", :class => "doors"), casa_corridor_path) %>    
</div>


