<h1 class="titles">mantenimiento</h1>
<div class="images">
<%= image_tag("maps/jn.png", {:style => "width:120px;"}) %>
</div>

<div class="divission">
<%= link_to 'puerta 3', casa_corridor_path %>
</div>


