<h1>reception</h1>
<%= image_tag("maps/reception.png", {:style => "width:120px;"}) %>
<%= link_to 'puerta 1', casa_bathroom_path %>
<%= link_to 'puerta 2', casa_corridor_path %>
<%= link_to(image_tag("doors/2.gif",:size => "10x20"), root_path) %>

