/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* load rules */
@import "store";
.intro{	
display : none;
}

#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
}
#loadingimg {
    background-image: url("doors/animation2.gif");
    background-repeat: no-repeat;
    background-position: center;
    
}
/* layout style */

    a {

}
  .scroll{
      font-size: 40px;
      display: inline;
      padding: 25px;
      background-color:#ccc;
      
  }

* {
  background-color: white;  
}
 .imgcenter {
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#on{
    background-color: white;
    margin: 0 auto;
    display: none;
    top: 150px;
    z-index: 1;
    padding: 21%;
    margin-top: -130px;

 
}
.close{
   font-size: 35px;  
   font-weight: 200;
}
.blink{
   font-size: 35px; 
}
.map_image{
    margin-left: 43%;
}
.map_advice{
    text-align: center;
    font-size: 29px; 
}
.footer_tag{
    text-align: right;
    font-size: 15px;
    font-family: 'PT Mono', monospace;
}
.footer_img {
    vertical-align: middle;
    margin-left: 33%;
}
.nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	
}
.nav li {
	float: left;
	width: 160px;
	position: relative;
}
.nav li a {
	background: #333;
	color: #fff;
	display: block;
	padding: 7px 8px;
	text-decoration: none;
	border-top: 1px solid #069;
}
.nav li a:hover {
	color: #069;
}
/*=== submenu ===*/ .nav ul {
	display: none;
	position: absolute;
	margin-left: 0px;
	list-style: none;
	padding: 0px;
	
}
.nav ul li {
	width: 160px;
	float: left;
	
}
}
.nav ul li a:hover {
	color: #069;
}
body {
  margin: 10px;
  font-family: "Helvetica Neue", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
.tabs-items li {    
  list-style: none;
  padding: 10px 35px;
  display: inline-block;
  background-color: #333;  
  color: #ccc;
  cursor: pointer;
  font-size: 19px;
}
.tabs-items li:hover{
	background: #4a4a4a; 
	color: #fff;
}
.tabs-content {
  padding: 15px 15px;
  background: #ccc;
  min-height: 100px;
}

.tabs-content-wrapper {
  padding: 15px 15px;
  background: #ccc;
  min-height: 100px;
  border-left: 6px solid #40FFEA;
  border-top: 6px solid #40FFEA;
}
p.alert.alert-danger{
font-size: 33px;
text-align: center;
}
h2 {
    font-size: 3em;
    margin-bottom: 0.75em;
    text-align: center;
}
label {
    font-size: 25px;
    margin-left: 47%;
}
input {
    padding: 20px;
    font-size: 29px;
}
form .buttons input[type=submit], form .buttons input[type=button], 
form .buttons button, form .actions input[type=submit], form .actions input[type=button], 
form .actions button {
    margin-right: 10px;
    font-size: 30px;
    padding: 20px;
    margin:0 auto;
    display:block;
}
form input[type=text], form input[type=password], form input[type=email], form input[type=number], form input[type=url], form input[type=tel], form input[type=date], form input[type=time], form textarea {
    width: calc(80% - 22px);
    border: 1px solid #c9d0d6;
    border-radius: 3px;
    font-size: 2.95em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: none;
    padding: 8px 10px 7px;
    margin:0 auto;
    display:block;
}
.dial {
 display: none;
}
.glasses{
      font-size: 40px;
      display: inline;
      padding: 25px;
      background-color:#ccc;
  }
 .idiom{
 display: none;
 font-size: 40px;
 text-align: center; 
 padding: 25px;
 margin-bottom: 500px;
  } 
  .person{
      font-size: 40px;
      display: inline;
      padding: 25px;
      background-color:#ccc;
  } 
  .dial{
      font-size: 40px;
      text-align: center;
      background: white;
      margin-bottom: 400px;
  }  
  #id2{
      display: none;
  }  
a, a:link, a:visited {
    color: red;
    text-decoration: none;
    background: white;
}

.photo {
   filter: blur(0.9px);
}

@media only screen and (max-width: 600px) {
.tabs-items li {
    list-style: none;
    padding: 5px 1px;
    display: inline-block;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 17px;
  
}    
}
