/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* load rules */
.intro{	
display : none;
}

#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
}
#loadingimg {
    background-image: url("doors/animation2.gif");
    background-repeat: no-repeat;
    background-position: center;
    
}
/* layout style */

    a {
   background-color:#ACE4E6;
}
  .scroll{
      font-size: 40px;
      display: inline;
      padding: 25px;
      background-color:#ACE4E6;
  }
  .doors {
   padding: 25px;
   background-color:#ACE4E6;

}
  .images {
   text-align: center;
   padding: 25px;
   text-decoration: none;
   background-color:white;
}
  .divission {
   text-align: center;
   padding: 25px;
   text-decoration: none;
   background-color: #ACE4E6;
   border-left: 6px solid #40FFEA;
   border-top: 6px solid #40FFEA;
}
  .links {
   font-family: 'Source Sans Pro', sans-serif;
   text-align: center;
   font-size: 30px;
   padding: 25px;
   text-decoration: none;
   background-color:lightblue;
   color: black;
   
}
 .titles {
   font-size: 45px;      
   font-family: 'Notable', sans-serif;
   text-align: center;
   color: red;
   border-bottom: 6px dashed black;
}
* {
  background-color: white;  
}
 .imgcenter {
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#on{
    background-color: white;
    margin: 0 auto;
    display: none;
    top: 150px;
    z-index: 1;
    padding: 30%;
    margin-top: -130px;

 
}
.close{
   font-size: 35px;  
   font-weight: 200;
}
.blink{
   font-size: 35px; 
}
.map_image{
    margin-left: 43%;
}
.map_advice{
    text-align: center;
    font-size: 29px; 
}
.footer_tag{
    text-align: right;
    font-size: 15px;
    margin-left:10px;
    font-family: 'PT Mono', monospace;
}
.footer_img {
    vertical-align: middle;
    margin-left: 33%;
}

