// Place all the styles related to the Casa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.headers {
  text-align: center;    
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 45px;
}
p {
  text-align: center;    
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 45px;
}

