  .doors {
   padding: 25px;
   background-color:#ccc;


}
  .images {
   text-align: center;
   padding: 25px;
   text-decoration: none;
   background-color:white;
}
  .divission {
   text-align: center;
   padding: 25px;
   text-decoration: none;
   background-color: #ACE4E6;
   border-left: 6px solid #40FFEA;
   border-top: 6px solid #40FFEA;
}
  .links {
   font-family: 'Source Sans Pro', sans-serif;
   text-align: center;
   font-size: 30px;
   padding: 25px;
   text-decoration: none;
   background-color:lightblue;
   color: black;
   
}
 .titles {
   font-size: 45px;      
   font-family: 'Notable', sans-serif;
   text-align: center;
   color: red;
   border-bottom: 6px dashed black;
}